<div class="pad-mode">
  <a href='/admin/shops/create'>
    <button type="button" class="">New Shop</button>
  </a>
  <br />
  <br />
  <table>
    <thead class="">
      <tr>
        <th scope="col">店名</th>
        <th scope="col">Email</th>
        <th scope="col">電話號碼</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each shops}}
      <tr>
        <td><a href="">{{this.name}}</a></td>
        <td>{{this.email}}</td>
        <td>{{this.phoneNr}}</td>
        <td>
          <button type="button" class="">
            <a href="/admin/shops/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="">
            <a href="/admin/shops/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/shops/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>