<div class="container">
  <div class="Title">店管理</div>
  <ul class="manage-action">
    <li><a href="/admin/shops/create">New Shop</a></li>
  </ul>
  <table>
    <thead class="">
      <tr>
        <th scope="col">店名</th>
        <th scope="col">Email</th>
        <th scope="col">電話號碼</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each shops}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phoneNr}}</td>
        <td>
          <button type="button" class="">
            <a href="/admin/shops/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="">
            <a href="/admin/shops/{{this.id}}/edit">
              Edit
            </a>
          </button>
          {{#ifNotCond this.id 1}}
          <form action="/admin/shops/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="">Delete</button>
          </form>
          {{/ifNotCond}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>