<div class="row">
  <div class="col-md-12">
    <h1>{{shop.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{shop.logo}}" style="width: 250px;margin-bottom: 25px;">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>Email:</strong> {{shop.email}}</li>
        <li><strong>Tel:</strong> {{shop.phoneNr}}</li>
        <li><strong>Address:</strong> {{shop.address}}</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<hr>
<br/>
<br/>
<a href="javascript:history.back()">回上一頁</a>