<div class="container">
  <div class="Title">人事管理</div>
  <ul class="manage-action">
    <li><a href="/admin/users/create">New User</a></li>
  </ul>
  <table>
    <thead class="">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">姓名</th>
        <th scope="col">角色</th>
        <th scope="col">所屬店家ID</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.role}}</td>
        <td>{{this.ShopId}}</td>
        <td>
          <button type="button" class="">
            <a href="/admin/users/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="">
            <a href="/admin/users/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/users/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>