<div class="container">
  <br />
  <div class="col">
    <h1>
      {{shopInfo.name}}<small class="text-muted"> 為了你的鍛鍊而存在。</small>
    </h1>
  </div>
  <div class="col">
    <img src="https://picsum.photos/930/300" class="img-fluid" alt="Responsive image" />
  </div>
  <br />
  <div class="col">
    <h4>{{data.subject}}</h3>
  </div>
  <div class="col">
    {{data.message}}
  </div>
  <br />
  <div class="col">{{shopInfo.name}}</div>
  <div class="col">店家地址 {{shopInfo.address}}</div>
  <div class="col">聯絡電話 {{shopInfo.phoneNr}}</div>
  <div class="col">服務信箱 {{shopInfo.email}}</div>
  <br />
  <div class="col" style="font-size: 13px; color:red">這是由 WAROEMN 系統發送的訊息，並非官方電子信箱，請勿直接回覆，謝謝。</div>
  <br />
</div>