<div class="container">
	<div class="single-customer">
		<div class="Title">會員資料</div>
		<div class="single-customer-detail">
			<ul>
				<li>Name：{{customer.name}}</li>
				<li>Age：{{customer.age}}</li>
				<li>Gender：{{customer.gender}}</li>
				<li>Tel：{{customer.phoneNr}}</li>
				<li>E-mail：{{customer.email}}</li>
				<li><i class="fas fa-window-close"></i> 是否願意收電子報</li>
			</ul>
			<div class="single-customer-bar">
				<div>
					<a href="/customers/{{customer.id}}/record">新增交易</a>
				</div>
				<div>
					<a href="/customers/{{customer.id}}/records">查看紀錄</a>
				</div>
				<div>
					<a href="/customers/{{customer.id}}/edit">編輯資料</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/javascripts/animation.js"></script>
<script src="/javascripts/showOption.js"></script>