<h1>會員資料</h1>
<ul>
	<li>{{customer.id}}</li>
	<li>{{customer.email}}</li>
	<li>{{customer.phoneNr}}</li>
	<li>{{customer.name}}</li>
	<li><i class="fas fa-window-close"></i> 是否願意收電子報</li>
</ul>

<a href="/customers/{{customer.id}}/record">新增交易</a>
<a href="/customers/{{customer.id}}/records">查看紀錄</a>
<a href="/customers/{{customer.id}}/edit">編輯資料</a>
<script src="/javascripts/showOption.js"></script>