<div class="container">
  <div class="Title">{{title}}</div>
  <form action="/customers/{{customer.id}}/edit?_method=PUT" method="POST" id="edit-form" enctype="multipart/form-data">
    <div class="edit-item">
      <aside><label for="name">姓名</label></aside>
      {{#ifCond customer.name '尚未登錄'}}
      <div><input type="text" name="name" id="name"></div>
      {{else}}
      <div><input type="text" name="name" id="name" value="{{customer.name}}"></div>
      {{/ifCond}}
    </div>
    <div class="edit-item">
      <aside>生理性別</label></aside>
      <div>
        <label for="female" style="
    margin-right: 10px;"><input type="radio" name="gender" id="female" value="female"
            {{#ifCond customer.gender "female"}}checked{{/ifCond}}><span>女生</span></label>
        <label for="male"><input type="radio" name="gender" id="male" value="male"
            {{#ifCond customer.gender "male"}}checked{{/ifCond}}><span>男生</span></label>
      </div>
    </div>
    <div class="edit-item">
      <aside><label for="phoneNr">電話</label></aside>
      <div><input type="text" name="phoneNr" id="phoneNr" value="{{customer.phoneNr}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="birthday">生日</label></aside>
      <div><input type="date" name="birthday" id="birthday" value="{{date}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="email">電子郵件</label></aside>
      {{#ifCond customer.email '尚未登錄'}}
      <div><input type="email" name="email" id="email"></div>
      {{else}}
      <div><input type="email" name="email" id="email" value="{{customer.email}}"></div>
      {{/ifCond}}
    </div>
    <div class="edit-item">
      <aside><label for="address">地址</label></aside>
      {{#ifCond customer.email '尚未登錄'}}
      <div><input type="text" name="address" id="address"></div>
      {{else}}
      <div><input type="text" name="address" id="address" value="{{customer.address}}"></div>
      {{/ifCond}}

    </div>
    <div class="edit-item">
      <aside><label for="receiveEmail">電子報</label></aside>
      <div>
        <label for="receive" style="
          margin-right: 10px;"><input type="radio" name="receiveEmail" id="receive" value="true"
            {{#ifCond customer.receiveEmail true}}checked{{/ifCond}}><span>接收</span></label>
        <label for="not-receive"><input type="radio" name="receiveEmail" id="not-receive" value="false"
            {{#ifCond customer.receiveEmail false}}checked{{/ifCond}}><span>不接收</span></label>
      </div>
    </div>
    <div class="edit-item">
      <aside><label for="note">備註</label></aside>
      <div><textarea name="note" id="note" class="note" cols="42" rows="10">{{customer.note}}</textarea>
      </div>
    </div>
    <div class="edit-item">
      <aside><label></label></aside>
      <div class="edit-button-group">
        <button type="submit">提交</button>
        <a href="/customers/{{customer.id}}">返回</a>
      </div>
    </div>
  </form>
</div>