<div class="container">
  <div class="Title">庫存管理</div>
  <ul class="manage-action">
    {{#ifCond user.role 2}}
    {{else}}
    <li class="upload-products">
      <form action="/inventory" id="upload-form" method="POST" enctype="multipart/form-data">
        <label>上傳檔案
          <input id="upload_file" name="products" type="file">
        </label>
        <button type="submit">確認</button>
      </form>
    </li>
    {{/ifCond}}
    <li class="download" id="download-invertory">匯出庫存</li>
    <li class="purchase-record">進貨紀錄</li>
  </ul>
  <table>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">名稱</th>
      <th scope="col">單價</th>
      <th scope="col">庫存數量</th>
    </tr>
    {{#each products}}
    <tr>
      <td>{{this.id}}</a></td>
      <td>{{this.name}}</td>
      <td>{{this.salePrice}}</td>
      {{#CompareNumber this.inventory this.minimumStock}}
      <td style="color: red">{{this.inventory}} <div>
          <small>少於最低庫存</small>
        </div>
      </td>
      {{else}}
      <td>{{this.inventory}}</td>
      {{/CompareNumber}}
    </tr>
    {{/each}}
  </table>
</div>
<script src="/javascripts/download.js"></script>