<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/nav.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/animation.css">
  <link rel="stylesheet" href="/stylesheets/inventory.css">
  <link rel="stylesheet" href="/stylesheets/customer-trade.css">
  <link rel="stylesheet" href="/stylesheets/single-customer.css">
  <link rel="stylesheet" href="/stylesheets/customer-record.css">
  <link rel="stylesheet" href="/stylesheets/privacy.css">
  <link rel="stylesheet" href="/stylesheets/marketing.css">
  <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <script src="https://kit.fontawesome.com/2e90554d29.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <title>{{title}} | Waromen</title>
</head>

<body>
  <ul class="sidebar fade-out">
    <li></li>
    <li><a href="/directBuy"><i class="fas fa-shopping-cart"></i>直接結帳</a></li>
    <li><a href="/customers/create"><i class="fas fa-user-plus"></i>新增會員</a></li>
    <li><a href="/customers"><i class="fas fa-users"></i>查詢會員</a></li>
    <li><a href="/dashboard"><i class="fas fa-chart-pie"></i>報表分析</a></li>
    <li><a href="/inventory"><i class="far fa-list-alt"></i>庫存管理</a></li>
    {{#ifCond user.role 2}}
    {{else}}
    <li><a href="/marketing"><i class="fas fa-bullhorn"></i>廣告行銷</a></li>
    {{/ifCond}}

  </ul>
  <div class="main-content content-out">
    <div class="navbar">
      <div><i class="fas fa-outdent icon-rotate-out"></i></div>
      <div><a href="/" class="Logo">waromen</a></div>
      <div class="advance">
        <i class="fas fa-users-cog"></i>
      </div>
      <div class="option">
        {{#if user.role}}
        {{#ifCond user.role 1}}
        <a href="/advance/customers">進階管理</a>
        {{/ifCond}}
        {{else}}
        <a href="/admin/users">平台管理</a>
        {{/if}}
        <a href="/privacy/{{user.id}}">修改密碼</a>
        <form action="/logout" method="GET">
          <button type="submit">登出@{{user.name}}</button>
        </form>
      </div>
    </div>
    {{{body}}}
  </div>
  <script src="/javascripts/animation.js"></script>
  <script src="/javascripts/showOption.js"></script>
</body>

</html>