*請拖曳要進貨的商品標籤至「本次進貨」，並設定數量及保存期限
<div class="drag-products">
  <div class="left">
    <div class="all-products">
      {{#each products}}
      <div class="product-single" draggable='true' id="{{this.name}}" data-target="{{this.id}}">
        {{this.name}}
      </div>
      {{/each}}
    </div>
  </div>
  <div class="right">
    本次進貨：
    <div class="purchase-products" data-role="drag-drop-container">

    </div>
  </div>
</div>
{{!-- <div id="kanban" class="row">
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading kanban-card">
        <h3 class="panel-title">所有商品</h3>
      </div>
      <div class="panel-body">
        <div id="products">
          &nbsp;
          {{#each products}}
          <div class="product-single" id="{{this.name}}" data-target="{{this.id}}">
            {{this.name}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{!--
 <div class="col-xs-4">
  <div class="panel panel-info">
    <div class="panel-heading kanban-card">
      <h3 class="panel-title">進貨品項</h3>
    </div>
    <div class="panel-body">
      <div id="purchase-list">
        &nbsp;
      </div>
    </div>
  </div> 
</div> --}}
</div>
{{!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/$VERSION/dragula.min.js'></script> --}}
<script src="/javascripts/purchase.js"></script>