<div class="container">
	<div class="single-customer">
		<div class="Title">會員資料</div>
		<div class="single-customer-detail">
			<ul>
				<li>Name：{{customer.name}}</li>
				<li>Age：{{customer.age}}</li>
				<li>Gender：{{customer.gender}}</li>
				<li>Tel：{{customer.phoneNr}}</li>
				<li>E-mail：{{customer.email}}</li>
				<li><i class="fas fa-window-close"></i> 是否願意收電子報</li>
			</ul>
			<div class="single-customer-bar">
				<div>
					<a href="/advance/customers">返回上一頁</a>
				</div>
				<div>
					<a href="/advance/customers/{{customer.id}}/edit">編輯資料</a>
				</div>
				<div>
					<form action="/advance/customers/{{customer.id}}?_method=DELETE" method="POST">
						<button type="submit">刪除</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>