<div class="container">
  <div class="Title">商品管理</div>
  <ul class="manage-action">
    <li class="edit-inventory">
      <a href="/advance/products/edit">直接編輯</a>
    </li>
  </ul>
  <table>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">名稱</th>
      <th scope="col">單價</th>
      <th scope="col">庫存數量</th>
      <th scope="col">最低庫存警示</th>
    </tr>
    {{#each products}}
    <tr>
      <td>{{this.id}}</a></td>
      <td>{{this.name}}</td>
      <td>{{this.salePrice}}</td>
      <td>{{this.inventory}}</td>
      <td>{{this.minimumStock}}</td>
    </tr>
    {{/each}}
  </table>
</div>