<div class="container">
  <div class="Title">商品管理</div>
  {{> messages}}
  <form action="/advance/products?_method=PUT" method="POST">
    <ul class="manage-action">
      <li class="edit-inventory">
        <button type="submit">確定編輯</button>
      </li>
    </ul>
    <table>
      <tr>
        <th scope="col">編號</th>
        <th scope="col">名稱</th>
        <th scope="col">單價</th>
        <th scope="col">庫存數量</th>
        <th scope="col">最低庫存警示</th>
      </tr>
  </form>
  {{#each products}}
  <tr>
    <td><input type="text" name="id" value="{{this.id}}" readonly></td>
    <td><input type="text" name="name" value="{{this.name}}"></td>
    <td><input type="text" name="price" value="{{this.salePrice}}"></td>
    <td><input type="text" name="inventory" value="{{this.inventory}}"></td>
    <td><input type="text" name="minimumStock" value="{{this.minimumStock}}"></td>
  </tr>
  {{/each}}

  </table>
  </form>
</div>
<script src="/javascripts/upload.js"></script>
<script src="/javascripts/download.js"></script>