{{> messages}}
<div class="container">
  <div class="Title">店資料編輯</div>
  <form action="/advance/shops/{{shop.id}}?_method=PUT" method="POST" id="edit-form" enctype="multipart/form-data">
    <div class="edit-item">
      <aside><label for="name">名稱</label></aside>
      <div><input type="text" name="name" id="name" value="{{shop.name}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="phoneNr">電話</label></aside>
      <div><input type="text" name="phoneNr" id="phoneNr" value="{{shop.phoneNr}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="email">電子郵件</label></aside>
      <div><input type="email" name="email" id="email" value="{{shop.email}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="address">地址</label></aside>
      <div><input type="text" name="address" id="address" value="{{shop.address}}"></div>
    </div>
    <div class="edit-item">
      <aside><label for="logo">Logo</label></aside>
      <div><input type="file" name="logo" id="logo"></input>
      </div>
    </div>
    <div class="edit-item">
      <aside><label></label></aside>
      <div class="edit-button-group">
        <button type="submit">提交</button>
        <a href="javascript:history.back()">返回</a>
      </div>
    </div>
  </form>
</div>