{{> messages}}
<div class="container">
  <div class="Title">人事管理</div>
  <ul class="manage-action">
    <li><a href="/advance/salespersons/create">新增人員</a></li>
  </ul>
  <table>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">店員照片</th>
      <th scope="col">店員名字</th>
      <th scope="col">角色</th>
      <th scope="col"></th>
    </tr>
    {{#each sales}}
    <tr>
      <td>{{this.id}}</a></td>
      <td><img src="{{this.avatar}}" alt="" class="sales-avatar "></td>
      <td>{{this.name}}</td>
      <td>
        {{this.role}}
      </td>
      <td>
        <button type="button" class="">
          <a href="/advance/users/{{this.id}}">
            Show
          </a>
        </button>
        <button type="button" class="">
          <a href="/advance/users/{{this.id}}/edit">
            Edit
          </a>
        </button>
        {{#ifCond this.role 2}}
        <form action="/advance/salespersons/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="">Delete</button>
        </form>
        {{/ifCond}}
      </td>
    </tr>
    {{/each}}
  </table>
</div>