<div class="pad-mode">


  <a href='/advance/users/create'>
    <button type="button" class="">New User</button>
  </a>

  <!-- <a href='/advance/shops'>Shops</a> | -->
  <!-- <a href='/advance/categories'>Categories</a> | -->
  <!-- <a href='/advance/users'>Users</a> -->

  <br />
  <br />

  <table>
    <thead class="">
      <tr>
        <th scope="col">店名</th>
        <th scope="col">角色</th>
        <th scope="col">所屬店家ID</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td><a href="">{{this.name}}</a></td>
        <td>{{this.role}}</td>
        <td>{{this.ShopId}}</td>
        <td>
          <button type="button" class="">
            <a href="/advance/users/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="">
            <a href="/advance/users/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/advance/users/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="">Delete</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>